.closeIcon {
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.itemContainer {
    margin-top: 4rem;
    height: 40rem;
}

.item {
    display: flex;
    align-items: center;
    height: 9rem;
}

.itemImage {
    margin-left: 1rem;
    width: 30%;
    height: 7rem;
    border-radius: 20px;
}

.itemName {
    text-align: center;
    width: 30%;
    font-size: 13px;
}

.quantity {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
    .quantity p {
        font-size: 20px;
        margin: 0;
        padding-bottom: 4px;
    }

.add {
    background-color: #97cba9;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
}

.remove {
    background-color: #f95959;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
}

.submitOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.orderButton {
    height: 3rem;
    width: 90%;
    border-radius: 30px;
    border: none;
    background-color: #dfd3c3;
}

.empty {
    text-align: center;
    margin-top: 20rem;
}

.header {
    width: 100%;
    margin: 1rem 0 1rem 1rem;
} 

.suggestions {
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow-x: auto;
    overflow-y: hidden;
}

.suggestion {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
     
}
    .suggestion p {
        font-size: 10px;
        display: inline-block;
    }

.suggestionImg {
    height: 6rem;
    border-radius: 20px;
}