.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    border: solid 1px;
    background-color: #dbd8e3;
}

.expandedCart {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
}