.productCard {
    position: relative;
    width: 100%;
    height: 25rem;
    border-bottom: solid 1px;
}
    .productCard .productImg {
        width: 100%;
        height: 100%;
    }
    .productCard h3 {
        margin-left: 1rem;
        color: white;
        position: absolute;
    }
    .productCard p {
        margin-left: 1rem;
        margin-top: 3rem;
        color: white;
        position: absolute;
        font-weight: 700;
    }